{% extends is_granted('IS_AUTHENTICATED_FULLY') ? "Header-Footer/header_connected.html.twig" : "Header-Footer/header_disconnected.html.twig" %}
{% block header %}
    <link rel="stylesheet" href="{{ asset('css/register-login/style.css')}}"/>
{% endblock %}
{% block content %}
    <section class="set-bg" data-setbg="{{ asset('img/recent-game-bg.png') }}">
        <div class="background-postvideo spad">
            <div class="inner registration-text">
                <div class="mb-4 mb-lg-4">
                    <form method="post" action="{{path('post_video')}}" class="home-form">
                        <br>
                        {{ form_start(form) }}
                        <h3>Post a Video</h3>
                        <div class="form-wrapper">
                            {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <div class="form-wrapper">
                                {{ form_row(form.url, {'attr': {'class': 'form-control'}, 'label': "Youtube video's ID (in the link after '=')"}) }}
                            </div>
                            <div class="form-wrapper">
                                {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-wrapper">
                            {{ form_row(form.description, {'attr': {'class': 'form-control', "rows": '6'}}) }}
                        </div>
                        <br>
                        <!--div class="checkbox">
                            <label>
                                <input type="checkbox"> I accept the Terms of Use & Privacy Policy.
                                <span class="checkmark"></span>
                            </label>
                        </div-->
                        <button type="submit">Post Video</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}