{% extends "Header-Footer/header.html.twig" %}
{% block content %}
	<!-- Latest news section -->
	<div class="latest-news-section">
		<div class="ln-title">Latest News</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				<div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
				<div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
				<div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
			</div>
		</div>
	</div>
	<!-- Latest news section end -->


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/page-top-bg/4.jpg">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>Our Community</h2>
						<p>Here are those who were accepted in the team HydraMind !</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
	<section class="page-section community-page set-bg" data-setbg="img/community-bg.jpg">
		<div class="community-warp spad">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 class="community-top-title">All Members ({{ users|length }})</h3>
					</div>
				</div>
				<ul class="community-post-list">
					{% for user in users %}
						<li>
							<div class="community-post">
								<div class="author-avator set-bg" data-setbg="img/tournament/1.jpg"></div>
								<div class="post-content">
									<h5>{{ user.username }}<span>{{ user.role }}</span></h5>
									<div class="post-date">{{ user.age }}<br>
										Joined: {{ user.joindate }}</div>
									{% if user.csgoBestRank != 1 and user.csgoBestRank != 2 %}
									<table>
									<tr>
										{% if user.csgoActualRank == user.csgoBestRank %}
										<td>
											<div class="attachment-file">
												<p>CS:GO Actual & Best Rank :</p>
												<img src="{{ asset('img/rank/csgo/'~ user.csgoActualRank ~'.jpg') }}" alt="">
											</div>
										</td>
										{% else %}
										<td>
											<div class="attachment-file">
												<p>CS:GO Actual Rank :</p>
												<img src="{{ asset('img/rank/csgo/'~ user.csgoActualRank ~'.jpg') }}" alt="">
											</div>
										</td>
										<td>
											<div class="attachment-file">
												<p>CS:GO Best Rank :</p>
												<img src="{{ asset('img/rank/csgo/'~ user.csgoBestRank ~'.jpg') }}" alt="">
											</div>
										</td>
										{% endif %}
									</tr>
									</table>
									{% endif %}
									{% if user.owBestRank != 1 and user.owBestRank != 2 %}
									<table>
									<tr>
										{% if user.owActualRank == user.owBestRank %}
										<td>
											<div class="attachment-file">
												<p>OW Actual & Best Rank :</p>
												<img src="{{ asset('img/rank/ow/'~ user.owActualRank ~'.jpg') }}" alt="">
											</div>
										</td>
										{% else %}
										<td>
											<div class="attachment-file">
												<p>OW Actual Rank :</p>
												<img src="{{ asset('img/rank/ow/'~ user.owActualRank ~'.jpg') }}" alt="">
											</div>
										</td>
										<td>
											<div class="attachment-file">
												<p>OW Best Rank :</p>
												<img src="{{ asset('img/rank/ow/'~ user.owBestRank ~'.jpg') }}" alt="">
											</div>
										</td>
										{% endif %}
									</tr>
									</table>
									{% endif %}
									{% if user.pubgLink is defined %}
										{% set PUBG = "https://pubg.op.gg/user/" ~ user.pubgLink %}
										<br>
										<p> PUBG ID : <a href="{{ PUBG }}" target="_blank" class="profile-panel"> {{ user.pubgLink }}</a></p>
									{% endif %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<div class="site-pagination sp-style-2">
					<span class="active">01.</span>
					<a href="#">02.</a>
					<a href="#">03.</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->
{% endblock %}