{% extends "Header-Footer/header_connected.html.twig" %}
{% set CSGO = 'Unknown' %}
{% if app.user.csgoActualRank == 1 %}
    {% set CSGO = 'Never Played' %}
{% elseif app.user.csgoActualRank == 2 %}
    {% set CSGO = 'Unranked' %}
{% elseif app.user.csgoActualRank == 3 %}
    {% set CSGO = 'Silver 1' %}
{% elseif app.user.csgoActualRank == 4 %}
    {% set CSGO = 'Silver 2' %}
{% elseif app.user.csgoActualRank == 5 %}
    {% set CSGO = 'Silver 3' %}
{% elseif app.user.csgoActualRank == 6 %}
    {% set CSGO = 'Silver 4' %}
{% elseif app.user.csgoActualRank == 7 %}
    {% set CSGO = 'Silver Elite' %}
{% elseif app.user.csgoActualRank == 8 %}
    {% set CSGO = 'Silver Elite Master' %}
{% elseif app.user.csgoActualRank == 9 %}
    {% set CSGO = 'Nova 1' %}
{% elseif app.user.csgoActualRank == 10 %}
    {% set CSGO = 'Nova 2' %}
{% elseif app.user.csgoActualRank == 11 %}
    {% set CSGO = 'Nova 3' %}
{% elseif app.user.csgoActualRank == 12 %}
    {% set CSGO = 'Nova Master' %}
{% elseif app.user.csgoActualRank == 13 %}
    {% set CSGO = 'Master Guardian' %}
{% elseif app.user.csgoActualRank == 14 %}
    {% set CSGO = 'Master Guardian 2' %}
{% elseif app.user.csgoActualRank == 15 %}
    {% set CSGO = 'Master Guardian Elite' %}
{% elseif app.user.csgoActualRank == 16 %}
    {% set CSGO = 'Distinguished Master Guardian' %}
{% elseif app.user.csgoActualRank == 17 %}
    {% set CSGO = 'Legendary Eagle' %}
{% elseif app.user.csgoActualRank == 18 %}
    {% set CSGO = 'Legendary Eagle Master' %}
{% elseif app.user.csgoActualRank == 19 %}
    {% set CSGO = 'Supreme Master First Class' %}
{% elseif app.user.csgoActualRank == 20 %}
    {% set CSGO = 'The Global Elite' %}
{% endif %}

{% set OW = 'Unknown' %}
{% if app.user.owActualRank == 1 %}
    {% set OW = 'Never Played' %}
{% elseif app.user.owActualRank == 2 %}
    {% set OW = 'Unranked' %}
{% elseif app.user.owActualRank == 3 %}
    {% set OW = 'Bronze' %}
{% elseif app.user.owActualRank == 4 %}
    {% set OW = 'Silver' %}
{% elseif app.user.owActualRank == 5 %}
    {% set OW = 'Gold' %}
{% elseif app.user.owActualRank == 6 %}
    {% set OW = 'Platinum' %}
{% elseif app.user.owActualRank == 7 %}
    {% set OW = 'Diamond' %}
{% elseif app.user.owActualRank == 8 %}
    {% set OW = 'Master' %}
{% elseif app.user.owActualRank == 9 %}
    {% set OW = 'GrandMaster' %}
{% elseif app.user.owActualRank == 10 %}
    {% set OW = 'Top 500' %}
{% endif %}

{% set PUBG = 'None' %}
{% if app.user.pubgLink %}
    {% set PUBG = "https://pubg.op.gg/user/" ~ app.user.pubgLink %}
{% endif %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('css/register-login/style.css')}}"/>
{% endblock %}
{% block content %}
    <section class="recent-game-section set-bg" data-setbg="{{ asset('img/profile/Agarest-Sieghart.jpg')}}">
        <div class="bgprofile">
            <div class="innerprofile registration-text">
                <div class="container-profile mb-4 mb-lg-4">
                    <h2 align="center" class="white">My Profile</h2><br>
                    {% for message in app.flashes('notice') %}
                        <div align="center" class="white">
                            {{ message }}
                        </div>
                    {% else %}
                        <br>
                    {% endfor %}
                    <div class="ti-content">
                            <div class="ti-thumb set-bg" data-setbg="{{ asset('img/tournament/1.jpg')}}"></div>
                            <div class="ti-text">
                                <h4>{{ app.user.username }}</h4>
                                <ul>
                                    <li><span>Joined since:</span> {{ app.user.joindate|date('Y-m-d') }}</li>
                                    <li><span>CSGO:</span> {{ CSGO }} </li>
                                    <li><span>Overwatch:</span> {{ OW }} </li>
                                    <li><span>PUBG:</span> <a href="{{ PUBG }}" target="_blank" class="profile-panel">{{ PUBG }}</a></li>
                                </ul>
                                <p><span>Tournaments participated:</span> 0 (Not used for now) </p>
                            </div>
                        </div>
                </div>
                <br><br>
                <div class="size-btn user-panel-profile space-bottom" align="center">
                    <a href="{{ asset('profile/rank/')}}">Games Infos</a>
                </div>
                <div class="size-btn user-panel-profile" align="center">
                    <a href="{{ asset('profile/password/')}}">Change Password</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}