{% extends "Header-Footer/header_connected.html.twig" %}
{% block header %}
    <link rel="stylesheet" href="css/register-login/style.css"/>
{% endblock %}
{% block content %}
    <section class="set-bg" data-setbg="img/profile-rank/Profile_rank_CS1.jpg">
        <div class="bgprofile-rank-cs1">
            <div class="bg-inside-profile-rank-cs1 inner-profile-rank-cs1 registration-text">
                <div class="centerprofile">
                    <div class="descriptionprofile">
                        <form method="post" action="{{path('profile_rank')}}" class="home-form">
                            {{ form_start(form) }}
                            <h3>My Rank</h3><br><br>
                            <div class="form-group">
                                <div class="form-wrapper2">
                                    {{ form_row(form.csgo_actual_rank, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-wrapper2">
                                    {{ form_row(form.csgo_best_rank, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <button type="submit">Register</button>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}