{% extends "Header-Footer/header_connected.html.twig" %}
{% set CSGO = 'Unknown' %}
{% if app.user.csgoActualRank == 1 %}
    {% set CSGO = 'Unknown' %}
{% elseif app.user.csgoActualRank == 2 %}
    {% set CSGO = 'Silver 1' %}
{% elseif app.user.csgoActualRank == 3 %}
    {% set CSGO = 'Silver 2' %}
{% endif %}

{% set OW = 'Unknown' %}
{% if app.user.owActualRank == 1 %}
    {% set OW = 'Unknown' %}
{% elseif app.user.owActualRank == 2 %}
    {% set OW = 'Bronze' %}
{% elseif app.user.owActualRank == 3 %}
    {% set OW = 'Silver' %}
{% endif %}

{% set PUBG = 'None' %}
{% if app.user.pubgLink %}
    {% set PUBG = "https://pubg.op.gg/user/" ~ app.user.pubgLink %}
{% endif %}

{% block header %}
    <link rel="stylesheet" href="css/register-login/style.css"/>
{% endblock %}
{% block content %}
    <section class="recent-game-section set-bg" data-setbg="img/profile/Agarest-Sieghart.jpg">
        <div class="bgprofile">
            <div class="innerprofile registration-text">
                <div class="tournament-item mb-4 mb-lg-4">
                    <h2 align="center" class="white">My Profile</h2><br>
                        <div class="ti-content">
                            <div class="ti-thumb set-bg" data-setbg="img/tournament/1.jpg"></div>
                            <div class="ti-text">
                                <h4>{{ app.user.username }}</h4>
                                <ul>
                                    <li><span>Joined since:</span> {{ app.user.joindate|date('Y-m-d') }}</li>
                                    <li><span>CSGO:</span> {{ CSGO }} </li>
                                    <li><span>Overwatch:</span> {{ OW }} </li>
                                    <li><span>PUBG:</span> <a href="{{ PUBG }}" target="_blank" class="profile-panel">{{ PUBG }}</a></li>
                                </ul>
                                <p><span>Tournaments participated:</span> 0 (Not used for now) </p>
                            </div>
                        </div>
                </div>
                <br><br>
                <div class="size-btn user-panel-profile space-bottom" align="center">
                    <a href="profilerankpage">Games Infos</a>
                </div>
                <div class="size-btn user-panel-profile" align="center">
                    <a href="">Change Password</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}