{% extends "Header-Footer/header_disconnected.html.twig" %}
{% block header %}
	<link rel="stylesheet" href="css/register-login/style.css"/>
{% endblock %}
{% block content %}
	<section class="set-bg" data-setbg="img/recent-game-bg.png">
		<div class="community-warp">
			<div class="innerb registration-text">

				<form method="post" action="{{path('app_login')}}" class="home-form">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					<h3>Connection</h3>

					<div class="form-wrapper-login">
						<label for="inputUsername">Username</label>
						<input type="text" value="{{ last_username }}" id="inputUsername" name="username" class='login-control' required autofocus>
					</div>

					<div class="form-wrapper-login">
						<label for="inputPassword">Password</label>
						<input type="password" id="inputPassword" name="password" class='login-control' required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="form-wrapper-login checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me"> Remember me
						</label>
					</div>

					<button type="submit">Log In</button>
				</form>

				<form action="{{ path('forget_password_page') }}" method="get">
					<button type="submit">Forgot password</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}